/* Font style applied to whole content doc */
div {
  font-family: "Comfortaa", cursive;
}

.aboutContent {
  display: block;
  margin: 50px;
  padding: 25px;
}

#main-page-event-card {
  display: none;
  justify-content: center;
}

.box {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}

#daily-pic {
  width: 100%;
  height: auto;
}
