/* Font style applied to whole content doc */

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

div {
  font-family: "Comfortaa", cursive;
}

.aboutContent {
  display: block;
  margin: 50px;
  padding: 25px;
}

#main-page-event-card {
  display: none;
  justify-content: center;
}

.haz {
  color: red;
}

.box{
 margin: auto;
 width: 50%;
 border: 3px solid black;
 padding: 10px;
}


/* columns side by side */
.column {
  display: flex;
  flex-direction: column;
  float: left; 
  width: 25%;
 margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* shadows to create a card effect */
.cardo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.date_cards_wrap{
 background-color: lightsteelblue;
 float: right;
 padding: 20px;
 width: 100%;
 height: 50px;
 content: "";
 display: table;
 clear: both;
 justify-content: center;
 align-items: center;
 font-size: 20px;
 text-transform: uppercase;
 letter-spacing: 5px;
 font-weight: 900;
}

.date_cards_wrap, .date_card_item{
 display: table;
 padding: 15px 25px;
 max-width: 500px; 
 max-height: 500px;
 flex-wrap: wrap;
}

.cards_wrap, .card_inner{
 background: slategray;
 border-radius: 5px;
 padding: 35px 20px;
 min-width: 225px;
 min-height: 315px;
 width: 100%;
} 

.box {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}

#daily-pic {
  width: 100%;
  height: auto;
}
